.DS_Store

# Gatsby
.cache
public

# Terraform
.terraform

# Yarn
node_modules
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.vercel

# JetBrains
.idea/
