.DS_Store

# Gatsby
packages/gatsby-site/.cache
packages/gatsby-site/public

# Terraform
.terraform

# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
