html {
    height: 100%;
    overflow-y: scroll;
}

body {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mainContent {
    flex: 1 0 auto;
}
